* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 1rem 0 0 3rem;
    color: rgb(143, 0, 0);
}

nav {
    padding: 1rem;
    background-color: rgb(223, 223, 223);
}

nav ul {
    display: flex;
    gap: 3em;

    list-style-type: none;
    text-transform: capitalize;
}